div {
  height: 78px;
  padding: 5px;
}

.number{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

.cell-1{
  background-color: var(--col1);
}

.cell-2{
  background-color: var(--col2);
}

.cell-3{
  background-color: var(--col3);
}

.cell-5{
  background-color: var(--col4);
}

.cell-8{
  background-color: var(--col5);
}

.cell-13{
  background-color: var(--col6);
}

.cell-21{
  background-color: var(--col7);
}

.cell-34{
  background-color: var(--col8);
}

.cell-55{
  background-color: var(--col9);
}

.cell-89{
  background-color: var(--col10);
}

.cell-144{
  background-color: var(--col11);
}

.cell-233{
  background-color: var(--col12);
}

.cell-377{
  background-color: var(--col13);
}

.cell-610{
  background-color: var(--col14);
}

.cell-987{
  background-color: var(--col15);
}
