@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --col1: #FFF2C1ff;
  --col2: #F7E1B3ff;
  --col3: #F0CFA5ff;
  --col4: #E8BE98ff;
  --col5: #E1AD8Aff;
  --col6: #D99C7Cff;
  --col7: #D28A6Eff;
  --col8: #CA7961ff;
  --col9: #C26853ff;
  --col10: #BB5645ff;
  --col11: #B34537ff;
  --col12: #AC3429ff;
  --col13: #A4231Cff;
  --col14: #9D110Eff;
  --col15: #950000ff;
}


